@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scrollbar-width: none;
}
body {
  font-family: "Montserrat";
  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
